[2019-02-07 12:32] t-paul opened #1 "Improve DXF import"
## Outline

Currently OpenSCAD uses it's own limited parser to read DXF files (2D-only) which does not support things like curves/splines. A previous GSoC project started with converting the BRL-CAD importer into a library. Goal of this project is to finish conversion by using more C++ features and fully integrating the code into OpenSCAD.

## Details

The main focus for the change is the import o

[2019-02-07 12:33] t-paul opened #2 "Improve OpenGL rendering"
## Outline

The current rendering infrastructure is scattered around with various bits partially belonging to external packages (CGAL, OpenCSG). Also, we're currently using immediate-mode OpenGL in some places. This is suspected to degrade rendering performance of large models.

## Details

The existing code should be refactored and rewritten, preferably by implementing or using an existing render

[2019-02-07 12:33] t-paul opened #3 "Improve Text Editor"
## Outline

The integrated text editor improved quite a bit recently but there's still a number of features missing that are often requested and would make editing bigger projects easier.

## Details

This project is about adding more IDE style features to the OpenSCAD editor. Some of those features have already a prototype implementation so those would require review of the existing code continue

[2019-02-07 12:34] t-paul opened #4 "Add OpenSCAD support for exporting models in STEP format"
## Outline

The STEP format is widely used in the industry to transfer CAD data between different systems. Currently OpenSCAD does not support STEP import or export. Adding STEP export would open up a number of new usecases or simplify the workflow as no external conversion tools are needed to convert to STEP. This includes the design of 3D models for other CAD tools, e.g. for KiCAD where STEP mod

[2019-02-07 12:34] t-paul opened #5 "Survey and implement CSG algorithms"
## Outline

Constructive solid geometry ([CSG](https://en.wikipedia.org/wiki/Constructive_solid_geometry)) is one of the two core modeling techniques provided by OpenSCAD. Currently, 3D CSG operations are handled using the [CGAL](http://www.cgal.org) library. 2D CSG operations are handled using the [Clipper library](http://www.angusj.com/delphi/clipper.php).

There is a large number of papers abou

[2019-02-07 12:34] t-paul opened #6 "Generator for offline documentation"
## Outline

The [user manual](http://en.wikibooks.org/wiki/OpenSCAD_User_Manual) for OpenSCAD is maintained at [Wikibooks](http://wikibooks.org/). This is a nice solution as everybody with a Wikipedia account can help improving it. The drawback is that it's only available online. The "Print Version" accessible there needs special work and duplicates part of the information.

It would be very usefu

[2019-02-09 23:04] t-paul opened #7 "Port the GUI to C++"
## Outline

The GUI is currently coded in Perl using wxWidgets and our goal is to have it ported to C++. The wxWidgets API is almost identical between Perl and C++, so it's an easy task. There are a couple things where we use the dynamic features of Perl which are trickier and interesting to port.

## Project Properties

### Skills

* C++/wxWidgets

### Difficulty

Easy

## Additional information

[2019-02-09 23:06] t-paul opened #8 "Port the SVGNest library to C++"
## Outline

The SVGNest library provides an algorithm for polygon nesting. It's written in JavaScript and a C++ port of it would improve Slic3r's auto-arrange feature.

## Project Properties

### Skills

* C++

### Difficulty

Easy

## Additional information

* slic3r/Slic3r#3237

[2019-02-09 23:19] t-paul opened #9 "Fix bugs of the Boost.Voronoi library"
## Outline

The good but unmaintained Boost.Voronoi library has a couple minor issues affecting Slic3r's results. Interesting task for learning the Voronoi algorithm and how to troubleshoot a computational geometry issue.

## Project Properties

### Skills

* C++

### Difficulty

Medium

## Additional information

* slic3r/Slic3r#2948

[2019-02-09 23:20] t-paul opened #10 "Wireframe printing"
## Outline

Implement the wireframe printing algorithm.

## Project Properties

### Skills

* C++

### Difficulty

Medium

## Additional information

* slic3r/Slic3r#2274

[2019-02-09 23:23] t-paul opened #11 "Manual support creation"
## Outline

Allow users to place and move support pillars by clicking in the 3D GUI.

## Project Properties

### Skills

* C++/Perl

### Difficulty

Medium/High

## Additional information

* slic3r/Slic3r#3062

[2019-02-09 23:47] t-paul opened #12 "Non-planar printing"
## Outline

Implement techniques for non-planar printing.

## Project Properties

### Skills

* C++

### Difficulty

Medium

## Additional information

* slic3r/Slic3r#3442

[2019-02-13 12:14] vivi3n commented on #10
I'm not good in programming but I'm on fire on Wireprinting and G-code writer/converter. I f I can help... I have done this on Cura Wireprint mode : https://www.thingiverse.com/thing:3396739

[2019-02-25 22:12] kkremitzki opened #13 "Improve Debian-family packaging in the FreeCAD ecosystem"

[2019-02-25 22:26] yorikvanhavre opened #14 "FreeCAD-BRLCAD integration"
This page is dedicated  to the description of the [Google Summer of Code|Google Summer of Code 2019](https://www.freecadweb.org/wiki/Google_Summer_of_Code) project idea of integrating FreeCAD and BRL-CAD.

## Outline

[FreeCAD](https://www.freecadweb.org) and  [BRL-CAD](http://www.brlcad.org) are very complementary applications: BRL-CAD is a powerful engine which could do with a better modelling U

[2019-02-26 00:34] yorikvanhavre opened #15 "BCF support"
This page is dedicated  to the description of the [Google Summer of Code](https://www.freecadweb.org/wiki/Google_Summer_of_Code_2019) project idea of adding BCF support to FreeCAD.

## Outline

The [BIM Collaboration Format](https://www.buildingsmart.org/bim-collaboration-format-explained/) (or BCF) is a file format aimed at coordinating the work of several participants in a [ Building Information

[2019-02-26 01:11] yorikvanhavre opened #16 "Upgrade the documentation system"
This page is dedicated  to the description of the [Google Summer of Code 2019](Upgrade the documentation system) project idea of upgrading the documentation system of FreeCAD.

## Outline

[FreeCAD](https://www.freecadweb.org) already possesses a vast documentation, written by its users and hosted on its own [wiki](https://www.freecadweb.org/wiki/Main_Page). On each FreeCAD release, the contents o

[2019-02-26 01:17] yorikvanhavre opened #17 "Direct Modeling tools in FreeCAD"
## Outline

[FreeCAD](https://www.freecadweb.org) is a feature-based parametric modeling system, hence different modeling steps depend on one or multiple previous steps. Each step is at the same time a tool/operation, and a geometrical object, resulting from that operation. This mix of operation and object is called a feature. Direct modeling, often presented as the opposite of parametric modeling

[2019-02-26 10:16] lordofbikes opened #19 "Revamp libdxfrw library, make it more safe, improve the interface and extend DWG capabilities"
## Outline
_libdxfrw_ is a library to read and write DXF files and read only DWG files.
The library is a fundamental part of LibreCAD and may become useful for our friend applications too.
Started by our valued LibreCAD contributor Rallaz the library needs some attention.

## Details
* make it more bullet proof, feeding wrong formatted files should not crash the application
* improve the interface

[2019-02-26 21:37] yorikvanhavre opened #20 "Automate reinforcement process"
## Project details

### Current scenario

Rebar Addon is aimed at easing up the process of rebaring in FreeCAD. In this project, the list of rebars is provided to a user in the form of a dropdown. For eg. for reinforcing in the rectangular column by using Rebar addon, first, the user has to do create straight rebar in the four sides of the column and create stirrups along a length. But this is a v

[2019-02-27 19:33] feragon opened #21 "LibreCAD OpenGL rendering"
## Outline
LibreCAD 3 uses Cairo for rendering. For users with high-resolution screens, Cairo is not convenient because of a slowness, due to a bad integration with Qt and a missing caching system.

The project consists of replacing Cairo with OpenGL in LibreCAD 3.

## Details
LibreCAD 3 was designed to have multiple rendering engines without *major* modifications to its core. It uses a [painter s

[2019-02-27 19:53] feragon opened #22 "Improve Continuous Integration System"
## Outline
LibreCAD 3 uses Travis-CI, which compiles the code, runs the unit tests and a code linter.
The system is triggered on every pull request and on new commit in the master branch.

The build script needs improvements to help reviewing the pull requests and commits.

## Details
Here are some of the problems encountered with Travis:

- The current system is slow. It's exceeding the time limi

[2019-02-27 20:10] feragon opened #23 "LibreCAD GUI revamp"
## Outline
LibreCAD 3 UI is written in Lua and Qt, using a custom file to bind the Qt methods to Lua.

This project consists of rewriting the GUI in C++.

## Details
Every [GUI file](https://github.com/LibreCAD/LibreCAD_3/tree/master/lcUILua/ui) should be rewritten in C++, and keep the operations written in Lua.

That implies to remove the Qt signals connections to Lua slots, and call Lua function

[2019-02-28 04:02] brlcad opened #24 "Coherent (Faster) Raytracing"
## Outline
Utilize cache coherency techniques in BRL-CAD's ray tracing pipeline.

## Details
BRL-CAD has one of the oldest and fastest parallel ray tracing implementations around but we don't currently leverage modern techniques that minimize context switching and data access.  With implicit geometry and constructive solid geometry (CSG) Boolean operations, we also have a very specific set of acad

[2019-02-28 04:21] brlcad opened #25 "appleseed Renderer Integration"
## Outline
appleseed is rendering infrastructure used to make pretty pictures. Make it shoot rays at our native geometry with our ray trace library.

## Details

Check out appleseed here: https://appleseedhq.net

appleseed has a procedural rendering method where you can use a different ray tracer to report where geometry exists and does not exist.  BRL-CAD has a robust ray tracing library.  Make t

[2019-02-28 04:46] brlcad opened #26 "Online Geometry Viewer (OGV)"
## Outline

Write a proposal that leverages or otherwise improves OGV!  This can be backend (C/C++) or front-end (Javascript) work, but should focus on completeness for an end-user.

## Details

We have been working on OGV for over 5 years. It started with PHP and then was revamped to meteor.js (before it was cool).  We want to focus on the backend of OGV, making sure it works properly, converts t

[2019-02-28 05:01] brlcad opened #27 "New BRL-CAD GUI"
## Outline

Develop further the new GUI for BRL-CAD!

## Details

BRL-CAD has two main graphical applications called 'mged' and 'archer' which look like they were developed in the 80's and 90's respectively (because they were).  We need a modern GUI, ideally using Qt.

This new GUI will need to leverage our existing libraries in a big way.  This includes the C++ coreInterface ( see https://brlcad.

[2019-02-28 05:26] brlcad opened #28 "BRL-CAD annotation support enhancements: labels, notes, & dimensions"
## Outline

Basic support for annotations was added in [2017](http://brlcad.org/wiki/Google_Summer_of_Code/2017#Annotations_for_the_wireframe_view) and [2019](https://brlcad.org/wiki/Google_Summer_of_Code/2019#Implement_more_annotation_support:_labels.2C_notes.2C_and_dimensions). Take that support to the next level!

## Details

Annotations are labels, dimensions, tolerances, and other notes that

[2019-03-01 17:37] Sagnik-Chaudhuri commented on #8
What should be my next set of procedures to take part in this project for GSOC 2019?

[2019-03-01 20:37] t-paul commented on #8
A good list of places to go is 1) the process section of the [OpenCAx website](https://opencax.github.io/), 2) the official GSoC [student guide](https://google.github.io/gsocguides/student/) and 3) the [Slic3r IRC channel](https://webchat.freenode.net/?channels=slic3r) for contacting people.

[2019-03-02 02:56] lordofhyphens commented on #8
Also asking around in the issue itself.

[2019-03-03 10:54] AkashAli506 commented on #16
Hi yorikvanhavre,
I am interested to upgrade the documentation system of FreeCAD. How can I get the source code of FreeCAD? So I can go through it.

Best Regards

[2019-03-03 17:15] amrit3701 commented on #16
Hi @AkashAli506,

Here is the source code of FreeCAD: https://github.com/FreeCAD/FreeCAD. You can also ask you queries at https://forum.freecadweb.org or IRC channel (#freecad).

[2019-03-04 05:39] css911 commented on #6
Hello... @t-paul . I am Chetan from India. I am interested in contributing to this idea can you help me,like how can i further explore the idea..?

[2019-03-04 10:53] t-paul commented on #6
If you have not read it yet, the official GSoC [student guide](https://google.github.io/gsocguides/student/) is a good place to start learning how the overall process works. Some more organisation specific details can be found in the process section of the [OpenCAx website](https://opencax.github.io/).

As for the project itself, I'd suggest to look at the different possible ways outlined above. F

[2019-03-07 16:24] css911 commented on #6
Thanks @t-paul :)

[2019-03-10 18:31] AhmedAminSE commented on #7
I am interested ! can i have more information and what exactly do you want to see in the proposal ?

[2019-03-10 19:05] lordofhyphens commented on #7
@AhmedAminSE
Overall scope of the work is as follows:
* Extend the current work in https://github.com/slic3r/Slic3r/tree/cppgui
* Implement the profile editors.

[2019-03-10 19:08] lordofhyphens commented on #8
@Sagnik-Chaudhuri The other thing you should do is look through the Slic3r issue tracker and do one of the "Low Effort" issues and submit a pull request (so that we have a sample of your work).

[2019-03-10 19:08] lordofhyphens commented on #8
https://github.com/slic3r/Slic3r/labels/Low%20Effort

[2019-03-10 19:11] lordofhyphens commented on #7
We will want you to submit a pull request for one of the following https://github.com/slic3r/Slic3r/labels/Low%20Effort so that we have an example of your work.

[2019-03-11 15:22] RomitKumar commented on #6
Hi @t-paul, I am Romit Kumar, 3rd year undergraduate from India. I am interested in solving the issue. I would like to know whether the issue is taken or not.  I also want to which is the best place to discuss about my approach towards solving the issue. Thank you :)

[2019-03-11 19:13] yorikvanhavre commented on #16
The GSOC 2019 thread on the FreeCAD forum - Come chat with us there if you're interested! https://forum.freecadweb.org/viewtopic.php?f=8&t=32284

[2019-03-11 20:03] t-paul commented on #6
Hi @RomitKumar, the best place for discussion is our IRC channel (see link above).

[2019-03-12 15:42] RomitKumar commented on #6
Is there some issue, maybe some low effort or easy one, that I can solve to give a sample of my work

[2019-03-12 16:02] t-paul commented on #6
How about openscad/openscad#2729?

[2019-03-14 16:01] AkashAli506 commented on #3
Hi @t-paul,
I am interested in improving the text editor of OpenSCAD. Can you please help me how to start?

[2019-03-14 21:37] t-paul commented on #3
A good start could be just running OpenSCAD with some example code that is included in the normal installation and have a look at other Tools/IDEs. Some features that would be nice to have that are present in other applications are listed above, but those are just guidelines.
One important step is to select a small number of features (or just one bigger topic) and proposing a plan how to improve/a

[2019-03-21 12:24] afolabisamguy commented on #3
Am interested in improving this text editor,  i have a list of ideas, how do i get the opencax source code

[2019-03-21 18:45] t-paul commented on #3
@afolabisamguy This project idea is for OpenSCAD which has the main repo at https://github.com/openscad/openscad

[2019-03-28 14:00] AliHaider93 commented on #28
hello , my name is Ali Haydar and  I want to participate in this project is there any advice to me . I have read the work in the  2017 and I am not very familiar with the namespace and the header files like magic.h
and after we define the geometry of the annotations is there a specific way to draw the result on the mged graphic window ?

[2019-03-28 17:08] brlcad commented on #28
Hello Ali!  After you define an annotation, you simply "draw" it and it should display in the mged graphics window.  I suggest going through a couple of the MGED tutorials so you understand basic usage, but you can also join our Zulip chat for interactive discussion.  As for advice, I suggest you do the MGED tutorials, try to make an annotation ( read http://brlcad.org/wiki/Annotations and http://

[2019-03-30 00:22] sagen98 commented on #7
I want to participate in GSoC 2019 in your organization. So I want to know what will be the format of the proposal and also what will be the file extension type of the proposal.

[2019-03-30 13:00] math-alpha commented on #27
I am interested on working on this. As soon as i send a PR, i will notify on this thread.

[2019-04-01 02:12] lordofhyphens commented on #7
@sagen98 See the rules for GSoC. We're going to want a code sample in the form of a pull request for one of the existing Low Effort issues in the slic3r/Slic3r  tracker.

[2019-06-11 15:20] ixil commented on #6
https://github.com/openscad/openscad/issues/2206#issuecomment-500889806

[2019-08-02 01:35] Vanuan commented on #15
New link to BCF https://technical.buildingsmart.org/standards/bcf/

[2019-09-04 09:30] raylove518 commented on #12
I have completed the installation according to the tutorial. Now the problem is that when Ubuntu opens the slic3r software, there is no option for nonplanar layers. Why is this?

[2019-09-04 18:45] brlcad commented on #12
@raylove518 Because this "Issue" you're commenting on is a task to implement such a feature as a multi-month GSoC project.  It does not imply such a feature exists already.

[2019-11-11 14:53] TheBeLieveRs commented on #17
I am Prakhar Srivastava a student if IIT Roorkee ,India and I would like to work on this issue can u tell what ide u suggest for this, or maybe the ide u would have worked on

[2019-12-09 21:58] #13 closed

[2019-12-23 14:17] Jedi18 commented on #23
Hello, I would like to know if the issue has been resolved. I am interested in working on it.

[2019-12-24 00:37] lordofbikes commented on #23
This is not an issue, it's a rough project idea for Google summer of code.
The idea is, that a GSoC student make a proposal based on this idea, how he would work on this task during the GSoC period.
Anyhow, nobody has worked on this now. So if you are interested in working on it, I recommend to get in touch on our Zulip channel, which is linked above.

[2019-12-28 06:17] Jedi18 commented on #2
Hi @t-paul , I'd like to know if this project would be considered in GSoC 2020, if BRL-CAD gets selected.
This looks like an interesting project, and starting now would give me enough time to get acquainted with the code base and master the prerequisites.

[2019-12-28 13:46] t-paul commented on #2
Yes, if OpenSCAD will be selected for GSoC, this topic will certainly be included. There's probably quite some research that could be done before actually diving into the details.

[2019-12-28 14:51] Jedi18 commented on #2
That's great, I'll start looking into it now then. If I have any doubts I hope I can message on the IRC channel?

[2019-12-28 15:41] t-paul commented on #2
Yes, discussion on IRC is definitely recommended.

[2020-02-07 04:27] prakasharyendra commented on #27
interested, from where should I start?

[2020-02-09 15:49] brlcad commented on #27
@prakasharyendra unlimited possibilities, but I would suggest doing the mged tutorials (which you can find on the main website) so you understand basic current usage, and then work on some minor patch (see BUGS or TODO files in an svn checkout).

[2020-02-10 10:30] yorikvanhavre commented on #20
This has been done in 2019 so I'm closing it.

[2020-02-10 10:30] #20 closed

[2020-02-10 10:31] yorikvanhavre commented on #15
This has been done in 2019 so I'm closing it.
The result is available at https://github.com/podestplatz/BCF-Plugin-FreeCAD

[2020-02-10 10:31] #15 closed

[2020-03-13 05:56] prakasharyendra commented on #26
Interested to contribute.

[2020-03-19 20:05] AnisaAisha commented on #5
Hello @t-paul, I'm interested in working on this project for GSoC. Could you please guide me where to start?

[2020-03-19 20:14] t-paul commented on #5
As the application period is already open, I'd suggest starting a draft proposal after reviewing the starting points above. Think about how to split the time into a) review/research and what criteria would be useful and b) coding example programs. For GSoC, the coding part should be a big part of cause.
With an initial draft it's easier to discuss in a more interactive way on our IRC channel.

[2020-03-28 15:52] Zolko-123 opened #30 "Measurement tool for FreeCAD"
## Outline
[FreeCAD](https://www.freecadweb.org/) is a parametric 3D modeling system, and has many different workbenches to adapt to various 3D modeling workflows. _Parametric_ modeling means that a design feature (extrusion, revolution, chamfer ...) can be modified after construction by changing its internal parameters (length, angle, distance...). When designing complex models, it is impossible

[2021-01-12 13:54] aothms opened #31 "Extend IfcOpenShell EXPRESS schema parser with support for where rules, functions and derived attributes"
## Outline

IfcOpenShell has a code generator that generates C++ code from the IFC schema defined in the EXPRESS language ([wiki](https://en.wikipedia.org/wiki/EXPRESS_(data_modeling_language))). This language allows for the definition of functions and rules that are currently not taken into account in the parsing process. These rules range from simple scalar checks like:

    TYPE IfcPositiveLeng

[2021-01-28 18:54] drossberg opened #32 "NURBS Editing Support in BRL-CAD"
## Outline
Implement the prerequisites for NURBS editing in BRL-CAD's GUIs

## Details
BRL-CAD has support for raytracing of NURBS surfaces implemented, but they are handed over as BLOBs to the openNURBS library.  Beyond basic operations such as rotation and translation, the BRL-CAD core has no ability to edit them.  This project would implement support for editing NURBS curves and surfaces in the

[2021-01-29 13:45] yorikvanhavre commented on #17
**Warning**: This project idea had been formulated for GSO2020, and might be too big for the new format of GSOC2021. Nevertheless, this functionality is still required, and this can serve as a base to build your own project, or could be implemented partially.

[2021-01-29 13:46] yorikvanhavre commented on #16
**Warning**: This project idea had been formulated for GSOC2019 and GSOC2020, and might be too big for the new format of GSOC2021. Nevertheless, this functionality is still required, and this can serve as a base to build your own project, or could be implemented partially.

[2021-01-29 13:46] yorikvanhavre commented on #14
**Warning**: This project idea had been formulated for GSOC2019 and GSOC2020, and might be too big for the new format of GSOC2021. Nevertheless, this functionality is still required, and this can serve as a base to build your own project, or could be implemented partially.

[2021-01-29 23:35] #23 closed

[2021-01-29 23:36] #22 closed

[2021-01-29 23:36] #21 closed

[2021-01-29 23:36] #19 closed

[2021-02-08 07:13] plaes commented on #31
@aothms Can you add link to https://en.wikipedia.org/wiki/EXPRESS_(data_modeling_language)? This would give some extra background about EXPRESS is and its importance.

[2021-02-13 01:10] t-paul opened #33 "Font Selector Window with preview and search functionality"
## Outline

OpenSCAD supports extracting geometry of text based on fonts installed on the system. The existing font list gives an overview of what fonts are installed, but does not provide further help to select fonts. An improved selection window could improve the user experience by giving the user a preview of some sample text and more ways for selecting a font.

## Details

* The current font l

[2021-02-13 01:32] #3 closed

[2021-02-13 01:41] t-paul opened #34 "Integrated language help feature"
## Outline

Add more interactive help features for built-in functions and modules. Right now there's already a nice summary of parameters linked as [cheat sheet](http://www.openscad.org/cheatsheet/). Scope of this projects would be to use this information in extended form and make it available in a more direct way in the editor.

## Details

* Convert the cheat sheet information into machine reada

[2021-03-03 10:27] yorikvanhavre opened #35 "Cabinet tool for FreeCAD"
## Outline

A cabinet tool for the FreeCAD Arch workbench

## Details

An Arch/BIM tool to allow users to create automatically a wide range of cabinets for kitchens, bathrooms, storage... This project should involve research over possible cabinet types, how they are built in the real world, and what properties they should have.

## Expected Outcome

A parametric cabinet object in the Arch Workbenc

[2021-03-03 10:36] yorikvanhavre opened #36 "Improve the FreeCAD API documentation"
## Outline

Work on the FreeCAD doxygen-generated documentation: Propose a better plan, document the modules better, make it clearer to read, etc.

## Details

The API documentaiton of FreeCAD is generated with doxygen from the docstrings contained in the source code. It is hosted on https://github.com/FreeCAD/SourceDoc . It is currently not easily readable, the modules structure doesn't list clas

[2021-03-03 10:41] yorikvanhavre opened #37 "Better materials structure in FreeCAD"
## Outline

FreeCAD materials are mostly used at the moment by FEM and Arch. There begins to have too many material cards to be comfortable. They need to be organized better.

## Details

Currently, Arch, FEM and Render workbenches are already using the FreeCAD materials system, which is built on "material cards". However, the large number of current material cards turns it cumbersome to use in Ar

[2021-03-03 10:50] yorikvanhavre opened #38 "FreeCAD command-line preferences manipulation"
## Outline

Command-line tools to manipulate FreeCAD preferences from outside FreeCAD, so one could install & configure fully via script.

## Details

Currently it is possible to manipulate FreeCAD preferences options via the Edit->Preferences menu, or via the parameters editor found under the Tools menu. It would be handy to add a way to edit these parameters from scripts, so a FreeCAD installati

[2021-03-03 10:55] yorikvanhavre opened #39 "New FreeCAD UI tool for fetching online content (3D part geometry)"
## Outline

Design a FreeCAD library tool that fetches the content online, without the need to download the whole library

## Details

FreeCAD possesses a vast library of parts submitted by users, hosted on https://github.com/FreeCAD/FreeCAD-library . This library is huge (> 1.5Gb) and currently the only way to use it is by installing (downloading) it entirely from the Addons Manager. We need a ne

[2021-03-03 10:57] yorikvanhavre commented on #39
Other FreeCAD ideas for 2021 at https://www.forum.freecadweb.org/viewtopic.php?f=8&t=54913

[2021-03-03 10:57] yorikvanhavre commented on #38
Other FreeCAD ideas for 2021 at https://www.forum.freecadweb.org/viewtopic.php?f=8&t=54913

[2021-03-03 10:57] yorikvanhavre commented on #37
Other FreeCAD ideas for 2021 at https://www.forum.freecadweb.org/viewtopic.php?f=8&t=54913

[2021-03-03 10:57] yorikvanhavre commented on #36
Other FreeCAD ideas for 2021 at https://www.forum.freecadweb.org/viewtopic.php?f=8&t=54913

[2021-03-03 10:58] yorikvanhavre commented on #35
Other FreeCAD ideas for 2021 at https://www.forum.freecadweb.org/viewtopic.php?f=8&t=54913

[2021-03-03 10:58] yorikvanhavre commented on #17
Other FreeCAD ideas for 2021 at https://www.forum.freecadweb.org/viewtopic.php?f=8&t=54913

[2021-03-03 10:59] yorikvanhavre commented on #16
Other FreeCAD ideas for 2021 at https://www.forum.freecadweb.org/viewtopic.php?f=8&t=54913

[2021-03-03 10:59] yorikvanhavre commented on #14
Other FreeCAD ideas for 2021 at https://www.forum.freecadweb.org/viewtopic.php?f=8&t=54913

[2021-03-09 22:05] MariwanJ commented on #17
@Yorik:
By parametric modeling : Do you mean that even Direct Modeling should have options, parameters that could be changed live to change the object you applied a command before?
Like what you have now in Sketcher?
In my understanding, direct modeling will not have any parametric, you apply a command and the object will follow that command .. that is it.
You might have some undo-redo but not mor

[2021-03-09 22:18] Moult opened #40 "Create an IfcOpenShell library for accessing standard building data (bSDD) via REST API"
## Outline

The bSDD, or buildingSMART Data Dictionary is an international standards based shared database and API for product manufacturers and organisations to share standardised metadata for building elements, like doors, windows, and other assets that make up our built environment. Currently, there is no free software library available to access this API. Building such an API library, along wi

[2021-03-09 22:31] Moult opened #41 "Extend IfcOpenShell's BCF library with REST API read/write support"
## Outline

The "BCF" system, or BIM Collaboration Format system is an international standard to track issues in building design and coordination. It's similar to issue tracking on software projects, just like this one, so it stores things like issue titles, assigned responsibilities, tags, and issue comments. It also contains discussions about issues in 3D building models, like section planes coo

[2021-03-09 22:56] Moult opened #42 "System to generate construction sequencing animations"
## Outline

Often, construction firms need to visualise animations of construction sequencing. A project timeline will be created, and related to individual model elements. For example, when a concrete slab is poured, it is linked to a 3D object called a slab. We need the ability to automatically generate animations from Blender where objects appear / disappear in various different ways when they

[2021-03-09 23:07] Moult opened #43 "Create visual programming nodes for generating BIM data with IfcSverchok"
## Outline

Blender allows visual node programming, similar to Grasshopper in Rhino. Grasshopper has a really neat extension called GeometryGym which allows users to use visual node programming to generate building geometry and data using the "IFC" international standard. It's super awesome, and something like that doesn't exist yet in the open source world with only free software. So, let's creat

[2021-03-09 23:22] Moult opened #44 "Create a webapp to create and check BIM project exchange requirements"
## Outline

When projects exchange data, we often need to set contractual requirements about what data we expect to see in their CAD or Building information data. There are international standards for these, and existing tools we've written to check these requirements. However, they look very scary and don't lend well to users understanding how to create project requirements. This ends up with a s

[2021-03-10 08:23] berlotti opened #45 "Add IDS checking to IfcOpenShell"
## Outline
The buildingSMART standard to define IFC based 'Information Delivery Specifications' (IDS) has a first version (and probably a final version around summer). It would be cool to have the ability to validate IDS against an IFC file.

## Details
The IDS standard is being developed and worked on here https://github.com/buildingSMART/IDS/blob/master/Development/

## Expected Outcome
Add IFC

[2021-03-10 09:18] Moult commented on #45
I believe this is already possible as part of BIMTester, sans the BCF output, but addition of BCF support I believe is too small a task for GSoC. https://github.com/IfcOpenShell/IfcOpenShell/issues/1349

[2021-03-10 11:24] yorikvanhavre commented on #40
I'd be interested in mentoring this on the FreeCAD side too

[2021-03-10 11:45] yorikvanhavre commented on #17
You approach seems good too, it's mostly a question of deciding how one wants to do things. There is basically no right or wrong here I think. Indeed tying strictly to parametric model has drawbacks too (slower approach, maybe ends up in a "half-baked direct modeling"), But the current API can be extended too. Having "movable vertices" is possible too, look at the Draft Wire/polyline for example.

[2021-03-10 17:31] MariwanJ commented on #17
Yorik:
You are an experience FreeCAD developer. Please answer my question regarding if I stick to CPP or Python?
I have a feeling that it would be difficult to make all these bases/changes using python .. at least it will be slow somehow.

[2021-03-10 17:45] luzpaz commented on #17
If you use `cpp` and want people to test, then we'll need to figure out how to compile FC test builds for people to use. Most won't know how or not want to because of the amount of time it takes to compile FC.

[2021-03-10 18:31] yorikvanhavre commented on #17
Basicallyit does not make big difference... It it more a question of your own preference, what you are most comfortable with. Almost anything can be done in either language. If you are thinking of doing this in a separate addon/workbench, though, then working in python is an advantage, as your code can be distributed "as is", no compiling/packaging necessary.

[2021-03-13 20:50] MariwanJ commented on #17
Yorik. Do you think that We need to start making a new branch of new base classes where we driver the shapes from the TopoShapes API?.
Or how should we start? At the moment I am trying to learn by adding some small commands, new 2D/3D objects to my WB. But that is not the way to achieve this project IMHO.
Please would you write in some sentence how this goal should be achieved in your opinion?. Ho

[2021-03-15 19:24] TestPrab commented on #41
Hi, I am interested in working on this issue , could you point me to some commit or some docs with which I can start.

[2021-03-16 01:50] Moult commented on #41
@TestPrab g'day! I've added some doc links - let me know if there are any issues. I reckon the first thing to do to start is to play with the bcf library, and download some test cases from the BCF-XML repo to get a feel of what a BCF is. You might also want to install the blenderbim.org add-on to Blender, as it will let you manipulate BCF in a graphical environment, which is required to test the g

[2021-03-16 07:04] ANURADHAJHA99 commented on #40
Hi, My name is Anuradha. I am interested in working on the following project for GSoC, where should I start with contributions and building a general idea regarding the project for the proposal? Thank you very much.

[2021-03-16 07:26] Moult commented on #40
I've added links to the bsDD repo as well as the API Swagger prototype we can use.

[2021-03-16 12:15] yorikvanhavre commented on #17
In my opinion there is no need to touch the TopoShapes themselves. You would be reinventing the wheel, which is already well enough done by OpenCasCade.

I think this is mostly an UX job, not a geometry job. What we need is to think a system of how a person can interact with a shape (ex: move a vertex, move an edge, move a face, scale an edge, scale a face, rotate an edge, rotate a face, extrude/i

[2021-03-16 16:37] MariwanJ commented on #17
Let me explain how I look at the matter:
Early days when I started learning CPP, I started using FLTK. It is the simplest and best cpp project that teach you every expect how windows drawing works, classes, inheritance ..etc IMOH. I will try to use the same angle of view.
Each object consist of vertices as base class.  Vertices will get its draw() function which draw a point on the screen.
There w

[2021-03-17 09:34] shubhav99 commented on #34
Hi there
I want to work on this isssue
Please provid me some guidence to start working on this issue

[2021-03-17 13:50] sky3760000 commented on #44
Hi I m intrested and little confused . Is this ideas for cad organizTio

[2021-03-17 17:37] t-paul commented on #34
Best way to start would be getting the source code of OpenSCAD and build on the machine you want to do development on. Which OS are you using? Setup is probably easiest on Linux, but in general any of the 3: Linux, macOS and Windows should work.

[2021-03-18 03:50] brlcad commented on #44
@sky3760000 Do you have a more specific or more detailed question?  Clear communication is important.  What you wrote was not clear at all.  This is a project idea for our umbrella organization, yes.

[2021-03-18 09:08] shubhav99 commented on #34
windows ; sir

[2021-03-18 12:43] t-paul commented on #34
In that case, the best supported option is using the [MSYS2](https://www.msys2.org/) environment.

[2021-03-18 14:24] shubhav99 commented on #34
i need to install openscad and msys2 on my machine ?
and what next
i need help here mentor
this is my first issue ever

[2021-03-18 14:31] t-paul commented on #34
first issue is fine, you should have done some sort of software development before though. MSYS2 is bringing all the development tools, essentially creating a Unix like environment on Windows. You can install all the needed things like compilers, libraries, applications (even including a pre-built OpenSCAD).
A maybe slightly outdated documentation is at: https://en.wikibooks.org/wiki/OpenSCAD_User

[2021-03-18 14:33] shubhav99 commented on #34
thanks for the support
i ll work hard on this

[2021-03-18 16:54] shubhav99 commented on #34
i ve installed openscad and msys2 on my machine.
how to proceed next ?

[2021-03-18 16:58] t-paul commented on #34
Just follow the build instructions on that document linked above. So going through installing the build dependencies, `git clone` to get the source, running `qmake` to prepare the build and finally `make` to compile.

[2021-03-19 13:46] shubhav99 commented on #34
i followed the instructions very carefully
my qmake is installed but when i try to run ----
qmake openscad.pro CONFIG -= debug
on MSYS
it gives error cannot find file openscad.pro

[2021-03-19 14:52] t-paul commented on #34
This should be in the top level directory of the repository created via `git clone`. The folder content should contain the files from the main [OpenSCAD repo](https://github.com/openscad/openscad/).

[2021-03-19 16:06] shubhav99 commented on #34
yes sir you are right
but when i run the command on MSYS
or on windows terminal , this gives error of openscad.pro file not found
although i searched for the file in the folder , and file is located in the correct destination
but MSYS gives error
i reinstalled it but no .

[2021-03-19 19:47] mahmodHammad commented on #26
Interested to contribute

[2021-03-19 19:48] mahmodHammad commented on #26
Interested to contribute

[2021-03-19 19:49] brlcad commented on #26
You should join us on our Zulip chat to discuss.  Welcome!

[2021-03-21 14:50] shubhav99 commented on #34
sir please help me further or lemme drop this contribution so that i can look for some other issue to solve it and gain some experience .....

[2021-03-21 21:38] t-paul commented on #34
You have to give some more specific questions, you are not saying what command you are running nor what the error message is. If you see the `openscad.pro` file in the source directory as expected then running `qmake` inside that directory (from the MINGW64 shell which was installed with the MSYS2 installer) should work.

[2021-03-23 14:17] sky3760000 commented on #44
Hi,
My questions are as follow-:
1 .Whether the webapp should strictly look like same as the example given or changes are welcomed.
2. The web app should be more css oriented(like design) or javascript(fucntions)
3 Do you have any specific template for proposals
 Thanks for your reply
My email-akashpandey382@gmail.com

[2021-03-23 21:49] Moult commented on #44
Hey @sky3760000 - a student has already started work on this - perhaps we can discuss to find another task that might be suitable for you? What aspects of the AEC industry are you interested in?

[2021-03-24 13:55] sky3760000 commented on #44
No problem,
What is AEC industry?

[2021-03-24 14:01] sky3760000 commented on #33
Hi ,
I'm interested in this project ,please guide me through.

[2021-03-24 16:20] avinash14022002 commented on #1
Wanted to work on this issue?
Can anyone guide how to start?

[2021-03-24 18:06] brlcad commented on #1
@avinash14022002 One way to get started could be to read up on the previous GSoC project that worked on this task: https://github.com/openscad/openscad/issues/3044

Of course, read the links in the description too including the current issue tracking integration: openscad/openscad#3006

[2021-03-24 21:47] t-paul commented on #33
@sky3760000 please see [Getting Started](https://github.com/openscad/openscad/wiki/Google-Summer-of-Code---Getting-Started)

[2021-03-24 21:50] t-paul commented on #1
@avinash14022002 in addition, check [Getting Started](https://github.com/openscad/openscad/wiki/Google-Summer-of-Code---Getting-Started) for a short summary of general steps.

[2021-03-25 01:49] Moult commented on #44
@sky3760000 I think it makes more sense to discuss for an alternative thing you can work on. What are your interests? What type of project / tech might you like to hack on? Would you like to organise a call to discuss your ambitions? Do you want to build web apps? Do you want to work with APIs? Do you want to work with 3D graphics? Write mesh algorithms? Do format conversions and parsing (i.e. imp

[2021-03-25 14:08] sky3760000 commented on #44
I m intrested in web apps and also want to learn api so can u suggest any vacant project which I can work on.

[2021-03-25 16:31] Yinchu-Liu commented on #1
I want to join this project, but where does the source code locate in?

[2021-03-25 16:42] avinash14022002 commented on #1
@brlcad sir and @t-paul sir,
sir could you guide through the project and good first issue..!!!

[2021-03-25 16:44] brlcad commented on #1
@Yinchu-Liu did you see the links provided?  The openscad/openscad#3006 issue is tracking the latest code changes for integration into OpenSCAD.  openscad/openscad#3044 has a great overview of the whole thing including other links to source code (e.g., pre-merge and indep library setup).

[2021-03-25 16:49] Yinchu-Liu commented on #1
Got it. Thank you!

[2021-03-25 16:52] brlcad commented on #1
@avinash14022002 if you need that much help already even with the detailed links provided, then GSoC may not be a great fit.  Conversion is technically challenging and typically needs someone able and willing to figure things out, not be guided on every step.  I suggest compile and run openscad first, compile the dxf code, and find something you can improve (however minor) to have a discussion on

[2021-03-25 16:56] avinash14022002 commented on #1
@brlcad thank you sir..!!!

[2021-03-26 10:00] Moult commented on #44
For web app related things, there may be a task in porting IfcOpenShell to WASM. Is that something you'd like to tackle?

Outside web apps, which form the bulk of the work, perhaps you may be interested in https://github.com/opencax/GSoC/issues/31 ?

[2021-03-26 18:31] Yinchu-Liu commented on #1
Just want to make the problem more clear, what we should do is improve BRL-CAD code , i.e. dxf-g.c, to OpenSCAD so that OpenSCAD can also import outside dxf documents? Or rather, what we should implement is:

- Reading dxf-g.c in BRL-CAD.
- Add similar code with dxf-g.c in OpenSCAD but in a C++ style to use C++ allocate memory, say the name should be dxf-openscad.cpp.
- However, in 2019 project, t

[2021-03-26 18:52] Yinchu-Liu commented on #1
Sorry for my misunderstanding, we should work on dxf.cc instead of creating one called dxf-openscad.cpp.

[2021-03-26 19:24] brlcad commented on #1
Others can speak to it better but as I understand it, the goal of this project is not to improve or do anything with BRL-CAD code.  It's to complete the DXF import support for OpenSCAD, which had origins and previous work that involved dxf-g.c from BRL-CAD.  It would be awesome if the dxf parsing library worked on for this effort continued to be made reusable so that it "could" be re-integrated ba

[2021-03-26 19:28] Yinchu-Liu commented on #1
Yes, that's also what I am thinking. Let me look into the OpenSCAD dxf file and get hands dirty. Thank you!

[2021-03-27 14:51] aamitn commented on #28
Hello, really looking forward to contribute to BRL-CAD on the Annotation Implementation part as a part of contribution towards gsoc 2021

Hope im not too late

[2021-03-27 16:21] brlcad commented on #28
Hello @aamitn !  You’re not too late but you will have to do a lot of work quickly to demonstrate your ability to read code.  Please join us on Zulip and work on a patch as quickly as possible.

[2021-03-28 05:42] niralverma commented on #28
Hello, I joined today. Can I know from where to start? I am interested in this project.

[2021-03-28 05:48] niralverma commented on #28
Hello. I joined today, I know its really late. But I am interested in this project. Can I please know from where to start?
And if there is any hope for me at this last moment ?

[2021-03-28 05:49] sky3760000 commented on #44
Thanks
:)

[2021-03-30 05:49] aykalkan commented on #1
Just a little correction. You wrote difficulty as medium in project description, but tagged as easy. This project is definitely not easy.

[2021-04-01 11:57] aykalkan commented on #33
I've built OpenSCAD from source files. I'm trying to increase my familiarity with it. Where exactly font list appear when we try to extrude a text? There is only a font parameter given to a text object as I see. I can only preview font of the text when I hit F5.

[2021-04-01 12:28] t-paul commented on #33
Correct, that's one of the things this change would make possible - preview how a font looks in the GUI without having to use `text()` in a script and execute that script.
So the focus is on GUI only, changing the dialog that is displayed with `Help`->`Font List` menu entry to dockable window like the Console, or Error Log. This window should then have the additional features listed in the project

[2021-04-07 18:37] Szymon-Budziak commented on #42
Hello, I am interested in working on this project for GSoC. Is is still available?

[2021-04-07 22:07] Moult commented on #42
@Szymon-Budziak yes, this is still available, but you've got to be quick as the deadline is 14th of April. Catch me online on IRC via the OSArch.org live chat (##architect on Freenode) and let's discuss! Also, get a head-start and start writing your proposal!

[2021-04-08 15:08] atomczak commented on #45
As discussed I would like to give it a try and further develop this feature by:
- [ ]  developing and making sure IDS checking works against new XSD
- [ ]  creating some IDS samples and wiki to make it easier to start for new people from AEC like myself :)
- [ ]  add the BCF output of such report
- [ ]  add IDS authoring and integrate with BIMTester web UI

I'm submitting the GSoC proposal, also a

[2021-04-09 05:16] Moult commented on #45
Great! Let's continue the conversation over in https://github.com/IfcOpenShell/IfcOpenShell/issues/1349

[2021-04-10 12:47] shruti-tanpure commented on #6
Hey! I would like to work on this issue.

[2021-04-10 16:23] t-paul commented on #6
That's still possible, with the deadline approaching fast and other students having quite a head start, you may need to get into the topic in a very focused way.

[2021-04-11 08:41] Hemanth694 commented on #44
Hey!
So I am intrested in creating webapps too so can you just help me out?
Like should I make a proposal for this project or is there any other step to go further?

[2021-04-11 08:51] Moult commented on #44
@sky3760000 sorry for the late reply, I did not see your edit. What tips are you after?

@Hemanth694 g'day! We're a bit close to the proposal deadline, but this web application idea already has a student proposing for it. Is there another aspect of IfcOpenShell that interests you?

[2021-04-11 09:00] Hemanth694 commented on #44
Another aspect of IfcOpenShell?.... I did'nt quite get you.. you mean another project?
Is there any chance?

[2021-04-11 10:26] Moult commented on #44
@Hemanth694 certainly, BIMTester is merely a module of IfcOpenShell

[2021-04-11 10:59] Hemanth694 commented on #44
Ohkay
Well then I'm also interested in #41

[2021-04-11 11:01] Moult commented on #44
@Hemanth694 hmm, that one already has a proposal. How about either #40 or #31 - both of which do not currently have proposals?

Alternatively, you can come up with your own proposal!

[2021-04-11 11:03] Hemanth694 commented on #44
Alright Lemme check those and I'll try anyone of them
Thnx for the response Appreciate it.

[2021-04-14 07:37] shruti-tanpure commented on #6
Okay! Thank you @t-paul

[2021-08-28 17:22] #6 closed

[2021-10-18 19:43] Himanshu40 commented on #28
Hello, I am really looking to work on this issue. I went through the work that already had been done in 2019 by AliHader. May I have to dig some more? Need guidance. Thanks.

[2021-11-04 10:52] Himanshu40 commented on #28
Hello @Alimaff. Can you help me where to look at the codebase to get familiar with? I learned how to use mged application and also covered some topics in mged tutorial.

[2022-01-19 21:02] mikwielgus opened #46 "Create a new KiCad importer"
Outline
-------

Create a new importer for files from any EDA software for which there is no built-in importer yet.

Details
-------

A non-exhaustive list of possible EDA software:

- Easy (open source): Fritzing, gEDA, Horizon EDA, LibrePCB, JSchem, pcb-rnd
- Easy, but slightly harder (port existing importer): EasyEDA ([link](https://github.com/wokwi/easyeda2kicad), [link](https://github.com/Rig

[2022-01-19 21:06] mikwielgus opened #47 "Modernize KiCad's EAGLE importer"
Outline
-------

The EAGLE importer for schematic and PCB is out of date. It should be refactored or rewritten to follow the architecture of CADSTAR or Altium importers where we first load to domain-level objects and then convert to KiCad objects.

Details
-------

- Rewrite the parser to use domain objects like in the Altium and CADSTAR parsers
- Check for correctness and completeness, including

[2022-01-19 21:08] mikwielgus opened #48 "Transform Altium DRC rules into KiCad DRC rules"
Outline
-------

The Altium importer lacks import of DRC rules. There is a powerful [query language](https://www.altium.com/documentation/altium-designer/constraining-the-design-design-rules-ad) defined in Altium, which has to be transformed to KiCad compatible DRC rules.

The task is to write an parser of Altium DRC rules in [PEGTL](https://github.com/taocpp/PEGTL), a header-only C++ template lib

[2022-01-19 21:12] mikwielgus opened #49 "Port KiCad expression evaluators from Lemon to PEGTL"
Outline
-------

Many input fields in KiCad can evaluate arithmetic expressions, taking their results as the actual inputs. This is accomplished using two parser-evaluators implemented with the [Lemon Parser Generator](https://sqlite.org/src/doc/trunk/doc/lemon.html), which we however intend to replace.

The task is to rewrite these evaluators using [PEGTL](https://github.com/taocpp/PEGTL), a head

[2022-01-19 21:16] mikwielgus opened #50 "Create a KiCad to ODB++ exporter"
Outline
-------

KiCad currently supports export to GenCAD, Gerber, Gerber X2 and IPC-D-356. These are commonly used, but many manufacturers would like the additional information contained in an ODB++ file.  This includes net information, board stackup, bill of materials, embedded stroke fonts as well as standard layer data.

Details
-------

The ODB++ Design website provides a reference viewer to

[2022-01-19 21:20] mikwielgus opened #51 "Modernize KiCad's STEP exporter"
Outline
-------

The current STEP exporter is a standalone executable written in poorly-structured code that duplicates the 3D Viewer functionality and has its own PCB file parser. This makes the exporter sometimes give different results than in the 3D Viewer, and makes the STEP code overall difficult to maintain. We need a new STEP exporter that is based on the same code as the 3D Viewer and is i

[2022-01-23 14:10] thegeekymuggle commented on #47
Hi, I have some experience in C/C++ and python. I am new to the open source scene and would love to contribute to this project. I need help to navigate this. Also, can someone help me to find the IRC channel for the same? Thanks in advance.

[2022-01-23 16:54] t-paul commented on #47
There is a `#kicad` channel on Libera.Chat, but this is more focused on user discussion. If you want to contribute in scope of GSoC, I'd recomment the email address listed above, otherwise follow the guides on https://dev-docs.kicad.org/en/contribute/

[2022-02-02 10:32] yorikvanhavre commented on #39
@chennes has formulated some ideas on this question, be sure to check with him if interested in working on this

[2022-02-02 10:33] yorikvanhavre commented on #38
Since this was written, a new preferences pack system has been added to FreeCAD, that might give new options.

[2022-02-02 10:34] yorikvanhavre commented on #36
See the new documentation effort at https://github.com/FreeCAD/FreeCAD-documentation which includes auto-generation of API pages

[2022-02-02 10:35] yorikvanhavre commented on #16
This issue has already been started at https://github.com/FreeCAD/FreeCAD-documentation

[2022-02-03 17:56] drossberg opened #52 "BRL-CAD Python bindings"
## Outline
Implement bindings for the BRL-CAD functionality to Python programming language

## Details
There are long time on-going efforts to wrap BRL-CAD functionality with python code, e.g.
* https://github.com/kanzure/python-brlcad
* https://github.com/nmz787/python-brlcad-tcl

These projects are however still in early development stages.

## Expected Outcome
A Python module which can read and

[2022-02-07 18:28] t-paul opened #53 "Integrated language help feature in OpenSCAD"
## Outline

Add more interactive help features for built-in functions and modules. Right now there's already a nice summary of parameters linked as [cheat sheet](http://www.openscad.org/cheatsheet/). Scope of this projects would be to use this information in extended form and make it available in a more direct way in the editor.

## Details

* Convert the cheat sheet information into machine reada

[2022-02-07 18:32] #33 closed

[2022-02-07 18:32] t-paul opened #54 "OpenSCAD Font Selector Window with preview and search functionality"
## Outline

OpenSCAD supports extracting geometry of text based on fonts installed on the system. The existing font list gives an overview of what fonts are installed, but does not provide further help to select fonts. An improved selection window could improve the user experience by giving the user a preview of some sample text and more ways for selecting a font.

## Details

* The current font l

[2022-02-07 20:42] #2 closed

[2022-02-07 20:43] #5 closed

[2022-02-07 20:46] #1 closed

[2022-02-07 21:52] t-paul opened #55 "Improve GPU Shader support for OpenSCAD's 3D Preview"
## Outline

A recent code change allowed the 3D Preview to read shader definitions from files (`shaders/Preview.vert` and `shaders/Preview.frag`). It would be nice to give users the ability to switch shaders, provide a list of default shaders and allow users to add their own files.

This could be combined with [New features for the 3D viewport](https://github.com/opencax/GSoC/issues/56) (#56) for

[2022-02-08 10:44] yorikvanhavre commented on #17
This is still valid for GSOC 2022. One should have a look at other attempts and maybe joint forces:

* carlopav in https://forum.freecadweb.org/viewtopic.php?t=49837
* Design456 workbench in https://github.com/MariwanJ/Design456

[2022-02-08 10:50] yorikvanhavre commented on #16
Will close this issue as it is under way and not really fit anymore for a GSOC project

[2022-02-08 10:50] #16 closed

[2022-02-08 18:16] t-paul opened #56 "New features for OpenSCAD's 3D viewport"
## Outline

The current 3D viewport is a pretty standard prespective or orthogonal 3D rendering of the design being built. This works well for most users, but in some cases it would be useful to have some extended features.

This could be combined with [Improve GPU Shader support for 3D Preview](https://github.com/opencax/GSoC/issues/55) (#55) for a Long (350h) project.

## Details

List of ideas

[2022-02-10 00:10] t-paul opened #57 "Simple Library Manager / Downloader for OpenSCAD scripts"
## Outline

People have written a large number of libraries for use with OpenSCAD over the years. A list of some better known ones can be found in the [library](https://openscad.org/libraries.html) list on the homepage. So far it's difficult for new users to find libraries and the process of integrating them into a project is all manual work.

The main idea of this project is to provide some simpl

[2022-02-12 20:12] feragon opened #58 "LibreCAD 3 GUI"
## Outline
Improve the current GUI or implement a completely new one.

## Details
LibreCAD 3 has a GUI made with Qt and Lua. It is currently not very user-friendly and some improvements should be done in this direction.

The userbase is very broad and especially includes inexperimented users with LibreCAD. They should get started as quickly as possible.

## Expected Outcome
An improved GUI and pos

[2022-02-12 20:15] feragon opened #59 "LibreCAD 3 automatic releases"
## Outline
Create automatic releases of LibreCAD 3 for different operating systems using a CI/CD system.

## Details
Users who want to try or use LibreCAD 3 have to compile it. This is too difficult for non-technical users.

The installation procedure should be as simple as :
- Download the distribution file on LibreCAD website or GitHub releases
- Install the downloaded file
- Run LibreCAD

This

[2022-02-12 20:16] feragon opened #60 "Port LibreCAD 2 tools to LibreCAD 3"
## Outline
Create new tools for LibreCAD 3 or improve existing ones

## Details
LibreCAD 3 was started from scratch so we need to reimplement every tool. There is still a lot of work to do before reaching the state of LibreCAD 2.

A LibreCAD user created [flowcharts](https://dokuwiki.librecad.org/doku.php/dev:generic:toolcharts) for some tools. It is a good starting point to improve the existing o

[2022-02-14 12:20] KeithSloan commented on #37
I would like to see any improvement in materials structure also take into consideration GDML and Geant4 materials.
At present we have to implement own materials.

[2022-02-14 13:14] KeithSloan opened #61 "Improve FreeCAD's OpenSCAD importer handling of Hull Requests"
## Outline
At present the importer calls openscad to perform the hull operation and creates a FreeCAD mesh type object from the returned result. For certain subsets of hull requests a hull of Brep Shape objects can be performed which is not only faster but has a better outcome. The importer in the workbench [OpenSCAD Alternate Importer](https://github.com/KeithSloan/OpenSCAD_Alt_Import) has made a

[2022-02-14 13:27] KeithSloan opened #62 "Improve FreeCAD - OpenSCAD interaction"
## Outline
FreeCAD 0.20 improved the addElement facility of the OpenSCAD workbench however this could still be improved further

## Details
The addElement is basically an editor for OpenSCAD script with the option to have output to FreeCAD document and
and report any errors in a window.

Research ideas on improving direct interaction with OpenSCAD from FreeCAD

With
- @chennes
- @KeithSloan52

Own

[2022-02-19 14:34] #45 closed

[2022-02-19 15:06] aothms opened #63 "Implement BIM/IFC geometry for infrastructure assets"
## Outline

Building Information Modelling and IFC (the industry foundation classes) have been traditionally used mostly in the construction of buildings. However recent extensions to the IFC schema (IFC4X1: alignment, IFC4X2: bridge, IFC4X3: rail, IFC4X4 (in progress): tunnel) allow using vendor neutral exchange of infrastructure assets. Geometrically, such definitions are fairly different, where

[2022-02-25 14:36] brlcad opened #64 "appleseed physically-based renderer release infrastructure"
## Outline

Update [appleseed](https://appleseedhq.net)'s CMake build infrastructure, CI/CD scripting, and plugins.  Generate new up-to-date releases automatically.

## Details

The [appleseed physically-based renderer](https://appleseedhq.net) needs a variety of infrastructure updates made to its CMake build system and CI/CD release infrastructure so that updated release binaries are created and

[2022-02-25 17:50] brlcad commented on #31
STEPcode has a library for parsing EXPRESS files ([libexpress](https://github.com/stepcode/stepcode/tree/master/src/express), Part 11 files) implemented in C that could probably be extracted without much difficulty (EXPRESS parsing one of the lowest libraries in STEPcode, if not the lowest).  Sounds like it might be applicable here?

[2022-02-25 18:28] brlcad opened #65 "Implement AP242 STEP geometry importer for BRL-CAD"
## Outline

Implement a geometry importer for the [ISO 10303 STEP](https://en.wikipedia.org/wiki/ISO_10303) AP242 standard.

## Details

BRL-CAD has geometry import support for STEP AP203 (v1), but AP242 has emerged as its industry replacement.  This project entails implementing as comprehensive import support as possible in BRL-CAD.

In order to track implementation progress and manage developmen

[2022-02-25 18:32] brlcad commented on #25
This project was completed outside of GSoC.

[2022-02-25 18:32] #25 closed

[2022-02-25 20:26] aothms opened #66 "Integrate STEPcode into IfcOpenShell"
## Outline

IfcOpenShell is a software library for IFC building models. This open standard IFC is largely based on the STEP family of standards, ISO 10303. There is a well-known parser and code generator for that called STEPcode. IfcOpenShell currently uses it's own parser for the model files (C++) and the schema files (Python) but would like to offer support for STEPcode in the means of an additi

[2022-02-25 20:26] aothms commented on #31
@brlcad we're aware, 11y ago we evaluated and contributed to stepcode https://github.com/stepcode/stepcode/wiki/SCL-adoption-in-IfcOpenShell with the intention to adopt it.

For pragmatic reasons it went slight different. We had to write our own p21 parser (we needed more permissive parsing because of the rather poor state our industry was in back then). The IFC dialect of p28 had diverted quite a

[2022-02-26 00:27] brlcad commented on #31
Okay, sounds good.  On the surface, I'd think even adapting STEPcode's P11 parser or even creating a new P28 parser wouldn't be terribly complicated... or entirely horrific given how most things are in 10303.  Heh.  I just wanted to make sure you were aware the library existed and you clearly are, so it's all good.  Hopefully someone tackles it!

[2022-03-05 07:29] ravenhaer commented on #27
I am interested in working on this. Should I try to solve some bugs/to-do before trying to create a mock-up of the UI? What are some of the major UI changes/features we are aiming for?

[2022-03-05 08:46] brlcad commented on #27
I would definitely recommend researching the links and existing efforts that are included in the idea description.  Having a mock-up on the UI is (probably) not as important at this point as having a clear understanding of what the current UI looks like, what the existing arbalest GUI looks like, what the current qged GUI looks like, as well as the current production tools (mged and archer), so th

[2022-03-09 04:09] aniketjohri23 commented on #52
Hello mentors, I am interested in working on this project. Can you give me a starting point to work on this.

[2022-03-09 05:52] brlcad commented on #52
Hello @aniketjohri23 -- the starting points are listed in the project description.  There are two previous efforts.  The most recent in 2018 has additional information you can read up on at https://brlcad.org/wiki/Google_Summer_of_Code/2018

He published a summary at https://medium.com/@Mr_Jaypee/brl-cads-python-procedural-geometry-990e3c286a63

You'll need to review and understand those prior eff

[2022-03-09 15:51] divyanshugarg36 commented on #26
Interested to contribute.

[2022-03-09 17:03] brlcad opened #67 "Continuation of a prior BRL-CAD GSoC effort"
## Outline

BRL-CAD has been participating in GSoC for over 10 years with nearly 100 students!  Any past accepted projects can be submitted as a continuation project.

## Details

You can find all past participants [documented on BRL-CAD's wiki](https://brlcad.org/wiki/Google_Summer_of_Code) by selecting a given year (e.g., [2018](https://brlcad.org/wiki/Google_Summer_of_Code/2018)).  Even the mos

[2022-03-09 17:25] brlcad commented on #26
Interest is always welcome.  Please join us on https://brlcad.zulipchat.com to discuss.

[2022-03-09 17:29] divyanshugarg36 commented on #26
Yes, I am already there, I checked this project and I am currently learning the working of this project.
Found out that we are planning to migrate it to the latest technologies and I think I have a lot of interest in these techs mentioned in the specifications.

[2022-03-11 23:12] zingo commented on #46
For EasyEDA there is also https://github.com/RigoLigoRLC/LC2KiCad

[2022-03-16 05:25] ReejoJoseph1244 commented on #58
Greetings,
I am interested in contributing to this project as a part of GSOC 2022. I'm beginner to Open source . I have knowledge in C/C++,Python . can u guide regarding this project and how to start. I dont have much knowldege in Qt and Lua , but looking forward to start those .

It would be great if the mentors could guide me towards contributing and proposal

Thank You

[2022-03-16 13:56] t-paul commented on #57
Yes, sure! I'd recommend discussing the details on IRC as the GSoC proposal will require a good overview of the technical approach and a development timeline.

[2022-03-16 15:25] paul-111 commented on #57
@t-paul  hii i dropped messege in the Zulip and getting no response there

[2022-03-16 15:53] brlcad commented on #57
@paul-111 responses on any chat forum are often not instantaneous (you didn't even wait 20 minutes before declaring "no response", people multitask), but Zulip is also for BRL-CAD not OpenSCAD, so you'll want to join the OpenSCAD IRC as linked from https://opencax.github.io

[2022-03-16 17:21] t-paul commented on #57
You can also just click on the `IRC` links in the issue description. Those go to the IRC web frontend where you can join the `#openscad` channel even without the need to register.

[2022-03-16 20:09] rvt commented on #57
Can we do something like this?
[code]

Some thoughts...
library could handle various tags, hashes or branches. Perhaps the library should include a form of package/library file so openscad knows how to install it so include can find it.

Also an direct include would be nice `include <https://github.com/revarbat/BOSL2/walls.scad>`

The idea is still that when you download a scad file, it includes e

[2022-03-16 20:19] t-paul commented on #57
No, at this point there's no plan to make OpenSCAD processing actively do network access.

[2022-03-16 20:43] rvt commented on #57
I was hoping for a system that would more look like platformio so each openscad project would have it's own version of libraries.

At least when I spoke to people about the Arduino system is that's it's a hassle to have different projects use different libraries and the versions... Perhaps that's changed, I have not use Arduino for a while.

Not trying to convince, but I think also scad files shou

[2022-03-16 20:49] t-paul commented on #57
That's all good for discussion. If platformio logic would work for OpenSCAD, that's certainly a possible option too.

That said, there's right now *no* solution. Getting something useful into the hands of people is probably better than waiting 20 more years hoping for the perfect solution.
I had some hopes for entropic which was claiming to become a package manager for "all the things" but it look

[2022-03-16 21:30] KeithSloan commented on #17
"What we need is to think a system of how a person can interact with a shape (ex: move a vertex, move an edge, move a face, scale an edge, scale a face, rotate an edge, rotate a face, extrude/intrude a face, extrude several faces, move several vertices/edges/faces, cut through/divide a face, the list can be endless)"

Given that this project is defined as Hard and the above long list of interactio

[2022-03-16 21:55] luzpaz commented on #38
Perhaps the orientation can also for sysadmins deploying FreeCAD in an organization?

[2022-03-17 17:40] MariwanJ commented on #17
@KeithSloan
This is not anything bad for what you wrote but or against anything/one, but it is the reality of FreeCAD. This is MHO.
It is easy to describe what we should do for making direct modeling achieved. But the reality is the OCC is not capable to do so. It is very slow, and full of bugs.
I made several tools and those tools are suffering from the slowness of the OCC and FreeCAD.
Several ti

[2022-03-17 18:23] KeithSloan commented on #17
@MariwanJ I have in the past had a brief look at your Design456 Workbench. I think it is brave attempt at Direct modelling but I am not sure your about your approach of trying to enable manipulation via OCC.

@yorikvanhavre Makes second item in details is "Get familiar with Coin, FreeCADs 3D display manager, and understand how to create manipulators and interact with the 3D scene" i.e  Looking at

[2022-03-17 19:31] MariwanJ commented on #17
Regarding coin, I made many detailed steps how to use it and I have the widget system FR_WIDGET. But I don't like the idea to use coin. That makes my code too complex with a gain of nothing. You wouldn't be able to replace OCC as you need to redraw the shape each time you change the (face, vertex, edge) .. just not possible. For very basic shape, I managed to replace OCC with coin .. but that is f

[2022-03-18 08:03] KeithSloan commented on #17
Question - With a Sketch I can create a BSpline and I can edit it by pressing the Ctrl key and selecting a Control point which I can drag around and the curve changes in realtime. Okay this is 2D but how is the Sketcher workbench implementing this?

[2022-03-18 11:29] MariwanJ commented on #17
Each time, it must recreate the whole thing. There is no other way to do so. Think if you have hundred of objects, and OCC is slow?
it wouldn't work.

[2022-03-18 13:12] KeithSloan commented on #17
Well it does not appear to redraw the other lines in the sketch, just the BSpline

[2022-03-18 15:04] luzpaz commented on #17
And aside,@realthunder was talking about Coin3D in foss4g. I don't recall if it was for replacing or augmenting the coin3d library? Perhaps he can weigh-in?

[2022-03-19 00:16] realthunder commented on #17
It is to augment Coin3D. I'd like to keep the node construction and iteration part of Coin3D, but replace its rendering backend with some third party library. The current design of Coin3D rendering backend is too tightly coupled with the rest. I managed to use its SoCallback interface to replace its render caching entirely and perform rendering with my own code. Although the rendering is done usin

[2022-03-19 07:38] aothms commented on #17
I'm not really involved in FreeCAD, but I feel the urge to comment as well:

Even if it turns out direct modelling on top of OCCT is slow for interactive use. There might be cases where it might still make sense in programmatic use. For example. I'd like to have the option to snap the second operand geometry onto the geometry of the first operand prior to performing a boolean operation (giving mor

[2022-03-19 08:55] MariwanJ commented on #17
Let me explain how I think about the FreeCAD structure. It would be beneficial if you look at other CAD to know how they define the basic elements (Vertex, line, face) like [Wings3D](http://www.wings3d.com/ ) .
For freecad to gain a real improvement, we need to think totally different. We need to think in the basic elements not solid objects. Each basic element should have it's own redraw mechanis

[2022-03-20 12:06] MariwanJ commented on #17
A real profiling of the code might find other weak points in the whole project. Don't know if anyone did that but I don't think OCC is the only weak point. Might be other weak points which we don't know. Visual profiling of the whole code will tell us where time are consumed. This is something that the core developers needs to do.

[2022-03-21 07:35] lordofbikes commented on #58
Hey @ReejoJoseph1244, any issues finding our Zulip chat?
Is anything vague? Anything we can do for you?

[2022-03-22 17:54] MariwanJ commented on #17
@realthunder
I would like to ask you what if you ever thought about add new 3D graphic library (modern) which might last long time and give us more capabilities?
This is just an example (https://www.ogre3d.org/)
What are the steps one should take to add any new 3D library to replace COIN3D?
I would appreciate any tips, or how to do?
Any one else can answer this question is welcomed. thanks in adva

[2022-03-25 22:49] CRiSTiK24 commented on #59
Hi, second year university student from UdG, Spain here and I'm interested on this. The objective of the project is to automate [this](https://github.com/LibreCAD/LibreCAD_3/wiki/Building) installation right? If so, i'll try to install it myself on a linux and windows to check it out.
Should I communicate through here or in [https://librecad.zulipchat.com/](https://librecad.zulipchat.com/#narrow/s

[2022-03-26 09:14] lordofbikes commented on #59
Welcome @CRiSTiK24!

We at LibreCAD prefer Zulip chat, which is linked in the task definition above.
You can follow the link and use a browser to log in or you can install their desktop client which can be found at https://zulip.com/apps.
There is already a topic [2022](https://librecad.zulipchat.com/#narrow/stream/112841-Google-Summer-of-Code/topic/2022) in the `Google Summer of Code` stream for

[2022-03-29 14:44] luzpaz opened #68 "Running FreeCAD Headless"
## Outline

Ability to use FreeCAD in headless mode (AKA without the Graphical User Interface)

## Details

Currently FreeCAD has an infrastructure (but very limited) support for running in `--console` or `freecadcmd` mode.
Some workbenches provide logic to run code if called from console mode, here's the basic structure in pseudo-code:

[code]

## Expected Outcome

* Exposing more FreeCAD functio

[2022-04-04 03:01] qwfrankcheng commented on #53
Hello mentors! My name is Frank Cheng, a CS student at Cornell Univ. Sorry that I learned about GSoC late and just started out. I'm new to open source and excited to contribute to this project idea.

I currently have the OpenSCAD application and source code on my system. I would be grateful if you could give me some guidance on getting started on this project.

Additionally, for the project idea D

[2022-04-04 08:48] t-paul commented on #53
Right now there's some initial information embedded in the source which is mainly used in the editor for the popup hints.

https://github.com/openscad/openscad/blob/bd78e4162ac14172087c5be7aaf29372b7093035/src/core/primitives.cc#L946-L951

This could be extended and used in other places and contexts (e.g. more detailed help in editor, help display in console windows, ...).

In addition the data co

[2022-04-11 04:39] Trashman247 commented on #67
Hello,
Incoming college freshman in comp sci - just learning about GSoC. I have coding experience in HTML/CSS + Python and am passionate about 3D design w/ Blender. This project seems to play to a wide range of skill levels and interests, so I hope finding the right one will challenge me just right. I would love to work with close cooperation with mentor(s) along the way as I learn! Let me know ho

[2022-04-11 07:01] aothms commented on #67
Welcome. You can use the labels to filter based on your interests, for example there is quite a bit for to be done in Python https://github.com/opencax/GSoC/labels/Lang%3A%20Python

All the subprojects here have their own communication channels, so once you have a general idea what projects you'd like to contribute to, reach out in the appropriate channel.

Note that in this organization we have t

[2022-04-11 07:12] Trashman247 commented on #67
Thank you!

[2022-04-11 07:23] Trashman247 commented on #46
Hello,

I have a strong interest in logic/circuit design and this project interests me for the GSoC. Just found out about GSoC and realized the deadline is coming soon, so I just wanted to get this comment in to notify as early as possible. I plan to comment soon with a more in depth proposal: I hope to get advice on crafting a project proposal for April 19th then! Please let me know if this works

[2022-04-11 07:55] mikwielgus commented on #46
Sure, go ahead. I recommend you to discuss your proposal with us on the Discord channel or via email before submitting.

[2022-04-14 09:31] zingo commented on #46
Trashman247 If you (or anyone else) do this ping me (here or zingo@zingo.org) and I can package some current progress of my EasyEda json import try for you as as something to look at or get inspired of, or to use use base :).
I currently got to it to the point where the fun begins e.g. I can select import from the menu and select a file and it read in the json. Next step would be to dig out the ne

[2022-04-15 03:18] Trashman247 commented on #46
Thanks! I am just entering college and I don't think I have the skill set yet to take on open source. Don't know the future holds, but I'll come back for GSoC 2023! (or if your open to non-GSoC contributions, but it will still take some months for me to learn either way).

[2022-06-29 11:02] nortikin commented on #43
watching

[2022-06-29 12:54] t-paul commented on #43
@nortikin you can use the `subscribe` button in the side bar to request updates on the issue without sending out mail notifications to everyone already subscribed already.

[2022-08-04 12:07] Tejasd1 commented on #47
I Would like to contribute in it....

[2022-08-04 13:15] Tejasd1 commented on #47
I have experience of **C/C++,** **Java** & **Python**

[2022-08-04 15:57] sethhillbrand commented on #47
@Tejasd1 The GSOC period is closed for this year but if you are interested in working on this or other aspects of KiCad, we are always interested in helping to onboard new contributors.  You can join us over on [Discord](https://discord.gg/WhzyWZ5RaD) and we can help you get started